@require 'common'

.eltm-modal-showing
  overflow hidden

.eltm-button
  // This style applies to a button, that we want to completely reset.
  border 0
  background none

  display inline-block
  border-sizing border-box
  padding 8px // this is to allow more space for touch events.

  outline 0
  -webkit-tap-highlight-color rgba(0,0,0,0)

.eltm-button + .eltm-button
  // A button next to a button does not need so much space around it.
  padding-left 0

.eltm-button-content
  // This is to prevent text selection inside the button.
  user-select(none)
  -webkit-tap-highlight-color rgba(0,0,0,0)


  border-sizing border-box

  display inline-block
  min-width 64px

  // TEXT STYLE
  text-align center
  text-transform uppercase
  font-weight 500
  font-family 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
  vertical-align middle

  // Should probably have a mixin for that
  // as it should be some global configuration option.
  border-radius 2px
  border-style none

  padding 0 16px

  line-height 36px
  height 36px

  cursor pointer

  color $primary
  background none

  &:hover
    background rgba(#999999, 0.2)

  // ...
  // On click
  &:active
    background rgba(#999999, 0.4)

  &.raised
    // FIXME will depend on theme
    color white
    // FIXME will be material colors
    background-color $primary
    box-shadow(alpha(#000000, 0.258824) 0px 2px 5px 0px)

  &.raised:hover
    background-color lighten($primary, 10)
  &.raised:active
    background-color lighten($primary, 20)

  &.disabled
    color alpha(#999999, 0.4)
    &:hover, &:active
      background none
    background none
    box-shadow(none)

.fab
  // Rounded button.
  border-radius 50%
