@require 'common'

.eltm-checkbox-label
  cursor pointer
  user-select(none)
  display inline-block
  height 36px !important
  line-height 36px
  -webkit-tap-highlight-color rgba(0,0,0,0)

  padding 0 8px


.eltm-checkbox-content
  vertical-align middle
  &.off
    color alpha(#000000, 0.74)
  &.disabled
    color alpha(#000000, 0.26)


.eltm-checkbox-icon
  margin-right 8px
  font-size 18px !important
  vertical-align middle
  // primary
  &.on
    color $primary
  &.off
    color alpha(#000000, 0.54)
  &.disabled
    color alpha(#000000, 0.26)

  transition color linear 0.3s
