@require 'common'

.eltm-checkbox-label
  cursor pointer
  user-select(none)
  display inline-block
  height 36px !important
  line-height 36px
  vertical-align middle
  font-weight 500


.eltm-checkbox-icon
  margin-right 8px
  // primary
  color #673AB7
