.carbm-dialog-noscroll
  overflow hidden

.carbm-dialog-overlay

  border 0
  padding 0
  margin 0

  // Its children will be screen centered.
  display flex
  flex-direction column
  align-items center
  justify-content center

  position fixed
  top 0
  left 0
  height 100vh
  width 100vw

  background-color alpha(#000000, 0.75)

  transition all linear 0.1s
  opacity 1

  &.elm-enter
    opacity 0

.carbm-dialog-buttonbar
  text-align right

.carbm-dialog-content
  padding 0 24px
  color alpha(#000, 0.7)

.carbm-dialog-root
  h3
    padding 0 24px

  // FIXME color theme.
  background-color white

  // This is to avoid the dialog covering the whole screen.
  margin 24px 40px

  .carbm-button-content
    min-width 0


.carbm-dialog-title
  margin 0
  padding 0
