$animation_time = 0.3s
$animation_fn = cubic-bezier(0.550, 0.085, 0.680, 0.530)

.carbm-dialog-noscroll
  overflow hidden

.carbm-dialog-overlay

  border 0
  padding 0
  margin 0

  // Its children will be screen centered.
  display flex
  flex-direction column
  align-items center
  justify-content center
  display -webkit-flex
  -webkit-flex-direction column
  -webkit-align-items center
  -webkit-justify-content center

  position fixed
  top 0
  left 0
  height 100vh
  width 100vw

  background-color alpha(#000, 0)

.carbm-dialog-buttonbar
  text-align right

  &.stacked
    display flex
    flex-direction column
    justify-content center
    -webkit-flex-direction column
    -webkit-justify-content center

    > .carbm-button
      text-align right
      padding-top 6px
      padding-bottom 6px

  .carbm-button + .carbm-button
    margin-right 0

.carbm-dialog-content
  padding 0 24px
  padding-bottom 24px
  color alpha(#000, 0.7)

  &:first-child
    padding-top 24px

  > *:last-child
    margin-bottom 0

.carbm-dialog-root

  & > h3
    padding 0 24px
    padding-top 24px

  & > h3 + .carbm-dialog-content, & > .carbm-toolbar + .carbm-dialog-content
    padding-top 20px

  // FIXME color theme.
  background-color white

  // This is to avoid the dialog covering the whole screen.
  margin 24px 40px

  .carbm-button-content
    min-width 0


.carbm-dialog-title
  margin 0
  padding 0
