
.overlay.animation-enter

  animation: em-fade-in 0.2s both ease-in
  & .root
    animation: root-enter 0.2s ease-in //, em-fade-in 0.2s both ease-in


.overlay.animation-leave

  animation: em-fade-out 0.2s both ease-in
  & .root
    animation: root-leave 0.2s ease-in // , em-fade-out 0.2s both ease-out


.noscroll
  overflow hidden

.overlay
  display: none

  overflow: hidden
  position absolute
  top 0
  left 0
  height: 100vh
  width: 100vw

  transform: translateZ(0)

  background-color rgba(0, 0, 0, 0.75)

.root
  -webkit-transform-style: preserve-3d
  -webkit-backface-visibility: hidden

  transform: translateZ(0)

  transform-origin: 50% 0

  & > h3
    padding 0 24px
    padding-top 24px

  & > h3 + .content, & > .em-toolbar + .content
    padding-top 20px

  // FIXME color theme.
  background-color white

  // This is to avoid the dialog covering the whole screen.
  margin 24px 40px

  .em-button-content
    min-width 0


.buttonbar
  text-align right
  display flex
  justify-content flex-end

  &.stacked
    flex-direction column
    justify-content center
    -webkit-flex-direction column
    -webkit-justify-content center

    > .em-button
      text-align right
      padding-top 6px
      padding-bottom 6px

  .em-button + .em-button
    margin-right 0

.content
  padding 0 24px
  padding-bottom 24px
  color alpha(#000, 0.7)

  &:first-child
    padding-top 24px

  > *:last-child
    margin-bottom 0



.title
  margin 0
  padding 0
