
vendor(name, val)
	-webkit-{name}: val
	-moz-{name}: val
	-ms-{name}: val
	-o-{name}: val
	{name}: val

.flex
	display: -webkit-flex
	display: -ms-flex
	display: flex

.flex-wrap
	vendor(flex-wrap, wrap)

.flex-no-wrap
	vendor(flex-wrap, nowrap)

.flex-grow-absolute
	vendor(flex-grow, 1)
	vendor(flex-basis, 0)
