@require './common'

.carbm-input-container
  display: inline-block
  position: relative
  height: 64px

  &.condensed
    height: 48px

.carbm-input-element

  box-sizing: border-box

  border-radius: 0

  font-size: 16px
  line-height: 32px
  // padding-top 16px
  // padding-bottom 8px
  margin-bottom: 8px
  border: none

  padding-top: 12px
  padding-bottom: 1px
  padding-right: 0
  padding-left: 0
  border-bottom: 1px solid alpha(#999, 0.5)
  width: 100%
  transition: border-bottom-color linear 0.3s

  &:focus
    padding-bottom: 0
    border-bottom: 2px solid $primary

  font-size: 14px
  outline: 0
  -webkit-tap-highlight-color: rgba(0,0,0,0)
