@require './common'

.eltm-input-container
  display inline-block
  height 64px

  &.floating-label
    // height 72px

.eltm-input-element

  box-sizing border-box

  font-size 16px
  line-height 32px
  // padding-top 16px
  // padding-bottom 8px
  margin-bottom 8px
  border none

  padding-bottom 1px
  border-bottom 1px solid alpha(#999, 0.5)

  &:focus
    padding-bottom 0
    border-bottom 2px solid $primary

  font-size 14px
  outline 0
  -webkit-tap-highlight-color rgba(0,0,0,0)
