
.carbm-select
  padding 3px
  margin 0

  border-radius 4px
  // box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;

  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0)
  .carbm-select
  	padding-right 25px

.carbm-select-label
	position:relative
.carbm-select-label:after
    content: '\f2f2'
    font:14px "Material-Design-Iconic-Font", monospace;
    color:#aaa;
    right:8px; top:2px;
    padding:0 0 2px;
    // border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
    vertical-align middle

.carbm-select-label:before
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
