
.select
  padding 0px 8px
  height 32px
  margin 0

  border: none
  border-radius 2px
  // box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;

  background: white
  color: #888
  border: 1px solid rgba(0, 0, 0, 0.14)
  outline: none
  display: inline-block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  cursor: pointer


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0)
  .select
  	padding-right 18px

.label
	position: relative

.label:after
    content: '\f2f2'
    font: 14px "Material-Design-Iconic-Font", monospace;
    color: #aaa
    right: 8px
    top: 2px
    padding:0 0 2px
    position:absolute;
    pointer-events:none;
    vertical-align middle
