
.carbm--toast-holder
	position fixed
	bottom 0
	left 0
	width 100%
	display flex
	justify-content center

.carbm--toast
	padding 14px 24px
	font-size 14px
	background alpha(#323232, 0.87)
	border-radius 2px
	color white

	&.multiline
		padding 24px

	transition all linear 0.2s
	transform-origin 0 0
	opacity 1

	&.enter
		opacity 0
		transform translate3d(0, 100%, 0)

.carbm--action
	text-transform uppercase
	margin-left 48px
	color $primary
