@require 'common'

$font-size = 24px
$height = 64px

.carbm-toolbar
  box-sizing border-box
  display flex
  flex-direction row
  align-items center

  padding 0 8px
  height $height
  display box

  background-color $primary
  color white
  font-weight 500

.carbm-toolbar > h3
  font-size $font-size
  font-weight 500
  margin 0

.carbm-toolbar > h3:first-child
  padding-left 8px

.carbm-toolbar > h3:last-child
  padding-right 8px

.carbm-toolbar > button:first-child
  margin-left 0px

.carbm-toolbar > button:last-child
  margin-right 0px



.carbm-toolbar > .carbm-button
  margin 0 8px

  & > .carbm-button-content, & > .carbm-button-icon
    color white

    &.disabled
      color alpha(white, 0.25)

  & > .carbm-button-icon
    font-size $font-size
