
.eltm-toolbar
  box-sizing border-box
  display flex
  flex-direction row
  align-items center

  padding 0 8px
  height 64px
  display box

  background-color #673AB7
  color white
  font-weight 500
