@require './common'

@require './node_modules/reset.styl/index.styl'

use_reset('meyer')
reset('all')


*
  box-sizing border-box

html, body
  color alpha(black, 87%)
  font-family 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif
  font-size 14px

h1
  font-size 45px

h2
  font-size 34px
  font-weight 500
  margin-bottom 32px

h3
  font-size 24px
  font-weight 500
  margin-bottom 24px

h4
  font-size 18px
  font-weight 500
  margin-bottom 18px

p, ul
  margin-bottom 16px

p.comment
  color rgba(0, 0, 0, 0.54)

b
  font-weight bold

em
  font-style italic