
@keyframes dm-fade-in
  0%
    opacity: 0
  100%
    opacity: 1


@keyframes dm-fade-out
  100%
    opacity: 0


@keyframes dm-slide-from-right
  0%
    transform: translateX(-100%) translateZ(0)
  100%
    transform: translateX(0) translateZ(0)


@keyframes dm-slide-to-right
  100%
    transform: translateX(-100%) translateZ(0)


@keyframes dm-disappear-below
  0%
    transform: translateZ(0)

@keyframes dm-appear-from-top
  0%
    transform: translateZ(0)
  100%
    transform: translateZ(0)


@keyframes dm-dialog-root-enter

  0%
    transform: translate3d(0, 50px, 0) scale3d(1.1, 1.1, 1)

  100%
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1)

@keyframes dm-dialog-root-leave

  0%
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1)

  100%
    transform: translate3d(0, -50px, 0) scale3d(0.9, 0.9, 1)
