@require 'common'


$em-disabled-button-background ?= rgba(0, 0, 0, 0.54)


.em-button
  // This style applies to a button, that we want to completely reset.
  border: 0
  margin: 0
  background: none
  position: relative

  display inline-block
  padding 8px // this is to allow more space for touch events.

  outline 0
  -webkit-tap-highlight-color rgba(0,0,0,0)


.em-button-content, .em-button-icon

  // This is to prevent text selection inside the button.
  user-select(none)
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  // necessary for correct inking.
  position: relative

  display inline-block

  // TEXT STYLE
  text-align: center
  vertical-align: middle
  cursor: pointer

  color: $em-color-primary
  background: none

  &.disabled
    color: $em-color-disabled
    box-shadow(none)


/**
  Classes that will apply on buttons with text content.
 */
.em-button-content

  &:hover
    background rgba(0, 0, 0, 0.07)

  // ...
  // On click
  &:active
    background rgba(0, 0, 0, 0.14)


  &.raised
    // FIXME will depend on theme
    color white
    // FIXME will be material colors
    background-color $em-color-primary

    em-shadow-highlight()

    &.disabled
      color: $em-color-disabled
      background-color: $em-color-darken3
      box-shadow(none)

  &.raised:hover
    background-color: lighten($em-color-primary, 10)

    &.disabled
      background-color: $em-color-darken2

  &.raised:active
    background-color lighten($em-color-primary, 20)

  &.disabled
    &:hover
      background-color: $em-color-darken2


// button icons need to be bigger.
.em-button-icon:before
  font-size 24px

.em-button-content

  min-width 64px

  text-transform uppercase
  font-weight 500
  font-family 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;

  // Should probably have a mixin for that
  // as it should be some global configuration option.
  border-radius 2px
  border-style none

  padding 0 6px

  line-height 36px
  height 36px


.fab
  // Rounded button.
  border-radius 50%

.em-button + .em-button
  // A button next to a button does not need so much space around it.
  margin-left 0 !important

.em-button-bar > .em-button
  padding-bottom: 0

.em-has-button-bar
  padding-bottom: 0
