@require 'common'

.dm-modal-showing
  overflow hidden

.dm-button
  // This style applies to a button, that we want to completely reset.
  border: 0
  margin: 0
  background: none
  position: relative

  display inline-block
  border-sizing border-box
  padding 8px // this is to allow more space for touch events.

  outline 0
  -webkit-tap-highlight-color rgba(0,0,0,0)

.dm-button-icon
  -webkit-tap-highlight-color rgba(0,0,0,0)
  border-sizing border-box

.dm-button-content, .dm-button-icon
  // This is to prevent text selection inside the button.
  user-select(none)
  -webkit-tap-highlight-color rgba(0,0,0,0)
  position: relative

  border-sizing border-box

  display inline-block
  // TEXT STYLE
  text-align center
  vertical-align middle
  cursor pointer

  color $primary
  background none

  &.disabled
    color alpha(#999999, 0.4)
    &:hover, &:active
      background none
    background none
    box-shadow(none)


.dm-button-content
  &:hover
    background rgba(#999999, 0.2)

  // ...
  // On click
  &:active
    background rgba(#999999, 0.4)

  &.raised
    // FIXME will depend on theme
    color white
    // FIXME will be material colors
    background-color $primary
    box-shadow(alpha(#000000, 0.258824) 0px 2px 5px 0px)

    &.disabled
      color: rgba(0, 0, 0, 0.26)
      background-color: rgba(0, 0, 0, 0.12)
      box-shadow: none

  &.raised:hover
    background-color lighten($primary, 10)
  &.raised:active
    background-color lighten($primary, 20)

// button icons need to be bigger.
.dm-button-icon:before
  font-size 24px

.dm-button-content

  min-width 64px

  text-transform uppercase
  font-weight 500
  font-family 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;

  // Should probably have a mixin for that
  // as it should be some global configuration option.
  border-radius 2px
  border-style none

  padding 0 6px

  line-height 36px
  height 36px


.fab
  // Rounded button.
  border-radius 50%

.dm-button + .dm-button
  // A button next to a button does not need so much space around it.
  margin-left 0 !important

.dm-button-bar > .dm-button
  padding-bottom: 0

.dm-has-button-bar
  padding-bottom: 0
