
vendor(name, val)
	-webkit-{name}: val
	-moz-{name}: val
	-ms-{name}: val
	-o-{name}: val
	{name}: val

.em-flex
	display: -webkit-flex
	display: -ms-flex
	display: flex

.em-flex-wrap
	vendor(flex-wrap, wrap)

.em-flex-no-wrap
	vendor(flex-wrap, nowrap)

.em-flex-grow-absolute
	vendor(flex-grow, 1)
	vendor(flex-basis, 0)
