@require 'common'

$dm-tar-border-bottom-color = rgba(0, 0, 0, 0.14)

.dm-tab-bar
	background-color: white
	border-bottom: 1px solid $dm-tar-border-bottom-color
	height: 48px

.dm-tab-title
	user-select(none)

	position: relative

	text-transform: uppercase
	text-align: center
	font-weight: bold
	color: $primary

	border-bottom: 1px solid $dm-tar-border-bottom-color
	background: white

	height: 48px
	line-height: 48px
	// padding-bottom: 18px // 20 - 2

	font-size: 14px

	max-width: 264px
	min-width: 160px

	cursor: pointer

	transition border-bottom-color linear 0.2s

	&.active
		border-bottom: 2px solid $primary

.dm-tab-content
	background-color: white