@require './common'

.em--toast-holder
	position fixed
	bottom 0
	left 0
	width 100%
	display flex
	justify-content center

.em--toast
	padding: 14px 24px
	font-size: 14px
	background: alpha(#323232, 0.87)
	border-radius: 2px 2px 0 0
	color: white
	cursor: pointer

	&.multiline
		padding 24px

	transform-origin 0 0

.em--action
	text-transform uppercase
	margin-left 48px
	color $em-color-primary
