@require 'common'

$font-size = 24px
$height = 64px

.dm-toolbar
  box-sizing border-box
  display flex
  display -webkit-flex
  flex-direction row
  align-items center
  -webkit-flex-direction row
  -webkit-align-items center

  padding 0 8px
  height $height
  display box

  background-color $dm-color-primary
  color white
  font-weight 500

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.34)

.dm-toolbar > h3
  font-size $font-size
  font-weight 500
  margin 0

.dm-toolbar > h3:first-child
  padding-left 8px

.dm-toolbar > h3:last-child
  padding-right 8px

.dm-toolbar > button:first-child
  margin-left 0px

.dm-toolbar > button:last-child
  margin-right 0px



.dm-toolbar > .dm-button
  margin 0 8px

  & > .dm-button-content, & > .dm-button-icon
    color white

    &.disabled
      color alpha(white, 0.25)

  & > .dm-button-icon
    font-size $font-size


.dm-toolbar > .dm-input-container

  .dm-input-element
    background-color: rgba(0, 0, 0, 0)
    color: rgba(255, 255, 255, 0.87)
    border-bottom-color: rgba(255, 255, 255, 0.54)

    &:focus
      padding-bottom: 0
      border-bottom: 2px solid rgba(255, 255, 255, 0.87)


  label
    color: rgba(255, 255, 255, 0.54)

  &.focused
    label
      color: rgba(255, 255, 255, 0.87)
